$border-color: #f1f2f5;
$bright-color: #1865fb;
$complementary-color: #30313f;
$dark-color: #272833;
$input-bg: #f1f2f5;
$light-color: #e7e7ed;

$lead-font-weight: 400;
$small-font-size: 0.875rem;

$btn-outline-secondary: (
	color: #6b6c7e,
);

$btn-success: (
	enabled: false,
);
$btn-info: (
	enabled: false,
);
$btn-warning: (
	enabled: false,
);
$btn-danger: (
	enabled: false,
);
$btn-light: (
	enabled: false,
);
$btn-dark: (
	enabled: false,
);
$btn-outline-success: (
	enabled: false,
);
$btn-outline-info: (
	enabled: false,
);
$btn-outline-warning: (
	enabled: false,
);
$btn-outline-danger: (
	enabled: false,
);
$btn-outline-light: (
	enabled: false,
);
$btn-outline-dark: (
	enabled: false,
);

$portlet-decorate-bg: #fff;
$portlet-decorate-border: 1px solid $light-color;
