// @import 'components/breadcrumb';
// @import 'components/color';
// @import 'components/group-item';
// @import 'components/info-panel';
// @import 'components/navbars';
// @import 'components/sidebar';
// @import 'components/table';
// @import 'components/widget';
// @import 'portlet/portlet';
// @import 'portlet/portlet_decorators';
// @import 'portlet/portlet_hello_world';

// @import 'custom_properties';

/*
* The element is used in several place
* but we don't have it as a component
*/
.user-avatar-link {
	display: block;
	position: relative;

	.panel-notifications-count {
		display: block;
		margin: 0;
		max-width: none;
		position: absolute;
		right: calc(100% - 0.7rem);
		top: -0.4rem;
	}

	.text-default {
		align-items: center;
		display: flex;

		.user-full-name {
			margin-left: 0.5rem;

			@include media-breakpoint-down(xs) {
				display: none;
			}
		}
	}
}

/*
* Move to portlet module
*/
.portlet {
	margin-bottom: 0;

	&:hover {
		z-index: 1034;
	}
}

/*
* Replace with text-secondary
*/
.text-default {
	color: #6b6c7e;
	font-weight: 600;
}