// @import 'custom_properties'; // Temporary disabled

/*
* The element is used in several place
* but we don't have it as a component
*/
.user-avatar-link {
	display: block;
	position: relative;

	.panel-notifications-count {
		display: block;
		margin: 0;
		max-width: none;
		position: absolute;
		right: calc(100% - 0.7rem);
		top: -0.4rem;
	}

	.text-default {
		align-items: center;
		display: flex;

		.user-full-name {
			margin-left: 0.5rem;

			@include media-breakpoint-down(xs) {
				display: none;
			}
		}
	}
}

/*
* Move to Styled then to Portlet module (it doesn't exist yet)
*/
.portlet {
	.portlet-container-no-margin & {
		margin-bottom: 0;
	}
}

.portlet .container-fluid-max-xl {
	padding-left: 0;
	padding-right: 0;
}

.portlet-topper {
	align-items: center;
	padding: 0;

	// Need the .portlet parent for specifity of Styled
	.portlet & {
		@include media-breakpoint-up(sm) {
			right: auto;
		}
	}

	.portlet-title-default {
		line-height: initial;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	// This design requirement is creating an accessibility issue
	.icon-monospaced {
		height: 1.5rem;
		line-height: 1.5rem;
		width: 1.5rem;

		.lexicon-icon {
			height: 0.875rem;
			width: 0.875rem;
		}
	}

	.controls-visible .portlet:hover &,
	.controls-visible .portlet.open &,
	.controls-visible .portlet.focus & {
		z-index: $zindex-fixed + 4; // 1034
	}
}

/*
* If title without .portlet-layout doesn't exist
* Move to Styled then to Portlet module (it doesn't exist yet)
*/
.portlet-title-text {
	color: $secondary;
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 2.2;
	margin-bottom: 0;
	text-transform: uppercase;
}

/*
* Move to Fragments?
*/
.portlet-dropzone {
	box-shadow: 0 0 0 1px transparent inset;
	transition: box-shadow 300ms ease-in-out;
	will-change: box-shadow;

	.yui3-dd-drop-active-valid & {
		box-shadow: 0 0 0 1px rgba($primary-d2, 0.2) inset;
	}

	.yui3-dd-drop-over & {
		box-shadow: 0 0 0 4px $primary-d2 inset;
	}
}

/*
* Move to Hello-World module
* Remember the export the image too
* Use property class not the portlet's one
*/
.portlet-hello-world {
	.portlet-content {
		background: linear-gradient(
				130deg,
				rgba($primary-d2, 0.7) 30%,
				transparent
			),
			#6f5245 url(../images/portlet_hello_world_bg.jpg) bottom left;
		background-clip: padding-box;
		background-size: cover;
		color: $white;
		min-height: 24rem; // Do we need this?

		@include media-breakpoint-up(sm) {
			padding: 3.125rem;
		}
	}

	.portlet-title-text {
		color: inherit;
		font-size: 2rem;
		font-weight: 700;
		text-transform: none;
		line-height: initial;
	}

	.portlet-body {
		width: 70%;

		@include media-breakpoint-up(sm) {
			width: 40%;
		}
	}
}

/*
* Replace with text-secondary
*/
.text-default {
	color: #6b6c7e;
	font-weight: 600;
}

/*
* Update the taglib liferay.navigation_menu in portal_normal.ftl
* Removing .active from nav-item and assign it to nav-link
*/
.theme-classic .nav-item.active .nav-link {
	color: $dark;
}


/*
* Move to Clay?
*/
.navbar-toggler {
	&.collapsed .lexicon-icon-times,
	&:not(.collapsed) .lexicon-icon-bars {
		display: none;
	}
}