@import 'cadmin-variables';

%modal-dialog-scrollable {
	display: flex;
	max-height: calc(100% - #{$cadmin-modal-dialog-margin * 2});

	@include media-breakpoint-up(sm) {
		max-height: calc(100% - #{$cadmin-modal-dialog-margin-y-sm-up * 2});
	}

	.modal-content {
		// IE10/11

		max-height: calc(100vh - #{$cadmin-modal-dialog-margin * 2});
		overflow: hidden;

		@include media-breakpoint-up(sm) {
			max-height: calc(100vh - #{$cadmin-modal-dialog-margin-y-sm-up * 2});
		}
	}

	.modal-header,
	.modal-footer {
		flex-shrink: 0;
	}

	.modal-body {
		overflow-y: auto;
	}
}

.liferay-modal {
	.modal-dialog {
		position: relative;

		@media (max-width: 768px) {
			width: 100%;
		}

		&.modal-full-screen {
			position: absolute;

			.liferay-modal-body {
				height: 100%;

				.lfr-fullscreen-source-editor-content {
					bottom: 0;
					height: auto;
					left: 24px;
					position: absolute;
					right: 24px;
					top: 80px;

					.source-panel {
						float: left;

						.lfr-source-editor {
							border-bottom-width: 0;
						}
					}

					.preview-panel {
						float: right;
					}
				}
			}
		}

		.modal-body .loading-animation {
			left: 0;
			margin-bottom: 0;
			margin-top: 0;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&.modal-edu .modal-dialog {
		@extend %modal-dialog-scrollable;

		.modal-content > :not(.modal-header, .modal-body, .modal-footer) {
			display: flex;
			flex-direction: column;
		}
	}
}

html#{$cadmin-selector} {
	.cadmin .modal {
		@extend .liferay-modal;
	}
}
