.lfr-upload-container {
	.upload-target {
		border-color: #ddd;

		h4 span {
			text-transform: lowercase;
		}

		.drop-file-text {
			font-weight: normal;
		}
	}

	a {
		&.browse-button {
			background-image: url(../images/common/add.png);
			background-repeat: no-repeat;
			color: white;
			font-size: 1.2em;
			font-weight: bold;
			text-decoration: none;
		}

		&.clear-uploads {
			background-image: url(../images/common/remove.png);
			background-repeat: no-repeat;
		}

		&.cancel-uploads {
			background-image: url(../images/common/close.png);
			background-repeat: no-repeat;
		}
	}

	.upload-list-info h4 {
		font-size: 1.3em;
	}

	.cancel-button {
		color: #869cad;
	}

	.delete-button {
		color: #869cad;
	}

	.file-added .success-message {
		font-weight: normal;
	}

	.upload-error {
		opacity: 1;
	}

	.multiple-files .upload-error {
		background: #fdd url(../images/messages/error.png) no-repeat 5px 5px;
		border-color: #900;
		color: #900;
		font-weight: normal;
		margin-bottom: 16px;
		padding: 8px 8px 8px 24px;
	}

	.upload-complete {
		.error-message,
		.success-message {
			font-weight: bold;
		}
	}

	.file-uploading {
		background-color: #ffc;
	}
}

.upload-drop-active .lfr-upload-container .upload-target {
	background-color: #ddedde;
	border-color: #7d7;
	border-style: dashed;
}

.lfr-dynamic-uploader {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.lfr-upload-container {
	margin-bottom: 1em;

	.upload-target {
		border: 3px dashed transparent;
		margin-bottom: 1em;
		min-height: 30px;
		padding: 30px 0;
		position: relative;
		text-align: center;

		h4 span {
			display: block;
			margin: 5px 0;
		}

		.or-text {
			font-size: 0.8em;
		}
	}

	.manage-upload-target {
		padding: 5px 0 0;
		position: relative;

		.select-files {
			margin: 0 10px 10px;
		}
	}

	.browse-button-container {
		padding-top: 5px;
	}

	a {
		&.cancel-uploads {
			float: right;
			margin-right: 0;
		}

		&.clear-uploads {
			float: right;
			padding-left: 16px;
		}
	}

	.upload-file {
		&.upload-complete.file-saved {
			padding-left: 25px;
		}

		.file-title {
			display: inline-block;
			max-width: 95%;
			overflow: hidden;
			padding-right: 16px;
			text-overflow: ellipsis;
			vertical-align: middle;
			white-space: nowrap;
		}

		.icon-file {
			font-size: 40px;
		}
	}

	.upload-list-info {
		margin: 1em 0 0.5em;
	}

	.cancel-button {
		margin-top: 1px;
		position: absolute;
		right: 5px;
		top: 0;
		top: 50%;
		white-space: nowrap;

		.cancel-button-text {
			display: none;
			margin-left: 5px;
		}

		&:hover .cancel-button-text {
			display: inline;
		}

		.lexicon-icon {
			height: 12px;
		}
	}

	.delete-button-col {
		padding-right: 10px;
	}

	.file-added .success-message {
		float: right;
	}

	.upload-error {
		padding-left: 25px;
	}

	.upload-complete .cancel-button,
	.delete-button,
	.upload-complete.file-saved .delete-button,
	.upload-complete.upload-error .delete-button {
		display: none;
	}

	.multiple-files .upload-error .error-message {
		display: block;
	}

	.single-file .upload-error {
		list-style: none;
		margin-top: 1em;

		.upload-error-message {
			margin-bottom: 0.5em;
		}
	}

	.upload-complete {
		padding-left: 5px;

		.error-message,
		.success-message {
			margin-left: 1em;
		}

		.delete-button {
			display: inline-block;
		}

		.select-file:disabled + .custom-control-label {
			display: none;
		}
	}

	.progress {
		display: none;
		margin-top: 0.5rem;
	}

	.file-uploading {
		.progress {
			display: flex;
		}
	}
}

.select-files {
	float: left;
	line-height: 0;
	margin-right: 2px;
	padding: 0 0 0 5px;
}
.mobile {
	.lfr-upload-container .upload-target .drop-file-text {
		display: none;
	}
}

.upload-drop-intent .lfr-upload-container .upload-target {
	z-index: 100;
}
